body { 
    background-color: lightblue;
    color:whitesmoke;
    width: 800px;
    height: 1000px; 
        
    /* Lägg webbsidan i mitten */
         margin-left: auto;
         margin-right: auto;
         
    /* ram på body */
         border-width: 1px;
         border-style: solid;
         border-color: white;
        
    /* Avstånd till innehåll */    
        padding: 20px;
    
        
}


.text2 {
    font-size: 18px;
}

h4 {
    size: 20px;
}



h2 {
    color: beige;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

h3 {
    color: black;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.ost {
    margin-right: auto;


}


p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 150%;
}

.bild {
    display: block;
    width: 55%;

}

.floatbild {
    float: right;
    width: 250px;
margin-top: 100px;
margin-right: 100px;

}

a {
    color:whitesmoke;
}
